<!--<h1>Your Pinned Remedies</h1>
<% favorites.forEach(favorite => { %>
    <div class="favorite-item">
        <h2><%= favorite.symptom %></h2>
        <ul>
            <% favorite.remedies.forEach(remedy => { %>
                <li>
                    <h4><%= remedy.name %></h4>
                    <p><%= remedy.usage %></p>
                </li>
            <% }) %>
        </ul>
        <form action="/favorites/<%= favorite._id %>" method="POST">
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    </div>
<% }) %> -->

