<!doctype html>
<html>
<head>
    <title>HomeCure - Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container">
    <h1>HomeCure</h1>
    <h4>A place where you can find Holistic Home Remedies for your every day symptoms.</h4>

    <!-- Login Form -->
    <form action="/login" method="POST">
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
</body>
</html>
