
<!doctype html>
<html>
<head>
    <title>HomeCure - Remedies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">



    <a href="/logout" class="logout-btn">Log Out</a> <!-- Logout Button -->



    <h1>Welcome to HomeCure,</h1>
        <h4>Explore holistic home remedies for everyday symptoms <br>
            and uncover the healing powers of herbs to support your well-being.</h4>
    
      
      
    





        
        <a href="/herbs" class="herbs-btn">Herbs</a>
            <a href="/favorites" class="fav-btn">Favorites</a>

        
        <div class="search-container">
           
            <img src="/css/remediesgraphic.png" alt="Remedies Photo" class="remedies-photo">

            
            <div>
                <input type="text" id="symptom-input" placeholder="Enter a symptom (e.g., stomach ache)">
                <button id="search-button">Search</button>
            </div>
            <h5>Results:</h5>
            <ul>
    

        

    
                <div class="remedies-container">
            <ul id="remedies-list">
               </ul>
            
                
            </div>
                  


              
            </ul>
                 
                 
                  


        </div>
        

   
            
   


    <script src="/js/homeCure.js"></script>
</div>
</body>
</html>
